<div class="container">
    <h1><%= name %></h1>
    <table class="table table-bordered" id="datatable">
      <thead class="table-primary">
        <tr>
          <% Object.keys(csvData[0]).forEach(header => { %>
            <th><%= header %></th>
          <% }) %>
        </tr>
      </thead>
      <tbody>
        <% csvData.forEach(row => { %>
          <tr>
            <% Object.values(row).forEach(cell => { %>
              <td><%= cell %></td>
            <% }) %>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  